BASE_URL=Your base url
LOGIN_URL=Your login page url
REGISTRATION_URL=Your registration page url
VALID_EMAIL=your email
VALID_PASSWORD=your password
SECURITY_QUESTION=your security question answer
----------------------------------      Dummy Data For USER 1            --------------------------------------
COUNTRY=Japan
NAME="Kenji Nakamura"
MOBILE_NUMBER=9012345678
ZIP=160-0022
ADDRESS="3-7-12 Shinjuku, Kabukicho District"
CITY=Shinjuku
STATE=Tokyo
CARD_NUMBER=4242424242424242
EXPIRY_MONTH='12'
EXPIRY_YEAR='2090'
----------------------------------      Dummy Data For USER 2            --------------------------------------
COUNTRY2=Norway
NAME2="Lars Eriksen"
MOBILE_NUMBER2=4712345678
ZIP2=150-0022
ADDRESS2="Storgata 12, Grünerløkka"
CITY2=Oslo
STATE2=Oslo
CARD_NUMBER2=4242424242424242
EXPIRY_MONTH2='4'
EXPIRY_YEAR2='2087'
----------------------------------      Dummy Data           --------------------------------------
INVALID_CARD_NUMBER=007